.form {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    &__control {
        position: relative;
        &_error {
            .form__input {
                outline: 1px solid $red;
            }
            .form__label, .form__input {
            }
            .form__input {
                
            }
        }
    }
    &__label, &__input {
        @include base_16;
    }
    &__label {
        pointer-events: none;
        position: absolute;
        top: 1.125rem;
        left: 1.375rem;
        white-space: nowrap;
        opacity: 0.7;
        .form__control_filled &,
        .form__input:focus + & {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__input {
        background-color: $white;
        border-radius: 0.25rem;
        @include base_16;
        padding: 1.125rem 1.375rem 0.875rem;
        width: 100%;
        // transition: outline-color 0.2s ease 0s;
        &:focus {
            outline: 2px solid #069E92;
        }
        &::placeholder {
            opacity: 0.7;
        }
        .contact-us-section &:disabled {
            $disabled-color: rgba(255, 255, 255, 0.6);
            border-color: $disabled-color;
            color: $disabled-color;
            & + label {
                color: $disabled-color;
            }
        }
        &_textarea {
            height: 5.875rem;
            resize: none;
        }
    }
    &__check {
        display: flex;
        gap: 0.75rem;
        justify-content: flex-start;
    }
    &__check-input {
        border: 0;
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
        &:checked + .form__check-box {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
        &_error + .form__check-box {
            border-color: $red;
        }
    }
    &__check-box {
        border: 1px solid $white;
        display: inline-block;
        color: $white;
        cursor: pointer;
        font-size: 1.5rem;
        flex-shrink: 0;
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        overflow: hidden;
        &:before {
            opacity: 0;
            visibility: hidden;
        }            
        @include ishover {
            .form__check-input:not(:checked) + & {
                background-color: rgba($color: $white, $alpha: 0.15);
            }
        }
    }
    &__check-label {
        color: $white;
        cursor: pointer;
        @include base_16;
    }
    &__textarea {
        resize: none;
    }
    &__error-text {
        display: none;
        color: $red;
        font-size: 0.75rem;
        line-height: 0.875rem;
        position: absolute;
        opacity: 0;
    }
    &__submit {
        align-self: flex-start;
        cursor: pointer;
        // flex-basis: calc(340 / 1860 * 100%);
        position: relative;
        white-space: nowrap;
        text-align: center;
        transition: background-color 0.2s ease 0s;
        overflow: hidden;
        .spinner {
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;
            display: none;
            position: absolute;
            top: calc(50% - 1rem);
            left: calc(50% - 1rem);
            width: 2rem;
            height: 2rem;
            animation: spin 1.5s linear infinite;
        }
        span, .spinner {
            position: relative;
            z-index: 1;
        }
        &:before {
            background-color: $white;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.2s ease 0s;
            z-index: 0;
        }
        @include ishover {
            &:before {
                opacity: 0.2;
            }
        }
    }
    &__file {
        color: $white;
        align-self: flex-start;
        max-width: 100%;
        &_attached &-field {
            display: none;
        }
        &_attached &-doc {
            display: flex;
        }
    }
    &__file-input {
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
    &__file-label,
    &__file-doc {
        background-color: transparent;
        border: 1px solid $white;
        border-radius: 0.25rem;
        align-items: center;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        .text {
            @include base_18;
            text-transform: lowercase;
        }
    }
    &__file-label {
        cursor: pointer;
        display: flex;
        transition: background-color 0.2s ease 0s;
        .icon {
            position: relative;
            width: 1.375rem;
            height: 1.375rem;
            &:before, &:after {
                background-color: $white;
                content: "";
                position: absolute;
                top: calc(50% - 0.5px);
                left: 0;
                width: 100%;
                height: 1px;
                transform-origin: center;
            }
            &:after {
                transform: rotate(90deg);
            }
        }
        span {
            @include base_18;
            text-transform: lowercase;
        }
        @include ishover {
            background-color: rgba($color: #FFFFFF, $alpha: 0.15);
        }
    }
    &__file-doc {
        cursor: auto;
        display: none;
        align-items: center;
        gap: 0.5rem;
        text-transform: lowercase;
        .icon-attachment {
            font-size: 1.25rem;
        }
        .text {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        button {
            flex-shrink: 0;
            position: relative;
            width: 1.125rem;
            height: 1.125rem;
            &:before, &:after {
                background-color: $white;
                left: 0;
                width: 100%;
                height: 1px;
            }
        }
    }
    &_sending {
        // .form__submit {
        //     span {
        //         opacity: 0;
        //         visibility: hidden;
        //     }
        //     .spinner {
        //         display: inline-flex;
        //     }
        // }
    }
    @include gap {
        &__agreement {
            margin-top: 0;
        }
    }
    @include phone {
        &__input {
            padding: 0.625rem 1rem;
            &:focus {
                & + label {
                    transform: translate(0, -1.5625rem) scale(0.75);
                }
            }
        }
        &__label {
            top: 0.625rem;
            right: 1rem
        }
        &__check {}
        &__check-label {
            @include mob_base_14;
        }
        &__file {}
        &__file-label,
        &__file-doc {
            .text {
                @include base_16;
            }
        }
        &__file-label  {
            .icon {
                width: 1rem;
                height: 1rem;
            }
        }
        &__file-doc {
            .icon-attachment {
                font-size: 1.125rem;
            }
        }
    }
}

// @keyframes spin {
//     0% {
//       transform: rotate(0);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
// }