.news {
    border-radius: 0.625rem;
    box-shadow: $box-shadow;
    overflow: hidden;
    &__img {
        position: relative;
        height: 22.375rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease 0s;
        }
        @include ishover {
            img {
                transform: scale(1.05);
            }
        }
    }
    &__tag {
        background-color: $white;
        border-radius: 0.25rem;
        font-family: "Montserrat", "sans-serif";
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.375;
        padding: 0.375rem 1.125rem;
        position: absolute;
        left: 1.625rem;
        bottom: 1.625rem;
        text-transform: lowercase;
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 1.625rem;
    }
    &__data {
        font-family: "Montserrat", "sans-serif";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.375rem;
        margin-bottom: calc(1em - 0.125rem);
        opacity: 0.6;
    }
    &__title {
        font-family: "Montserrat", "sans-serif";
        font-size: 1.625rem;
        line-height: 2rem;
        font-weight: 600;
    }
    &__desc {
        @include base_16;
        margin-top: calc(1em - 0.25rem);
    }
    @include phone {
        &__img {
            height: 0;
            padding-top: calc(242 / 350 * 100%);
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &__tag {
            @include mob_base_14;
            left: 1rem;
            bottom: 1rem;
        }
        &__content {
            padding: 1rem;
        }
        &__data {
            @include mob_base_14;
        }
        &__title {
            @include mob_base_20;
        }
        &__desc {
            @include mob_base_14;
        }
    }
    // @media screen and (max-width: 360px) {
    //     &__desc {
    //         display: none;
    //     }
    // }
}