.popup {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 10;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.875rem 0.9375rem;
        min-height: 100%;
    }
    &__content {
        border-radius: 0.625rem;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.05), 0 10px 10px -5px rgba(0, 0, 0, 0.02);
        padding: 2.125rem;
        position: relative;
        width: 100%;
        max-width: 35.75rem;
        transform: scale(0.4);
        transition: all 0.3s ease 0s;
    }
    &__content-page {
        &_two {
            display: none;
        }
    }
    &__close {
        top: 2.125rem;
        right: 2.125rem;
        opacity: 0.7;
        @include ishover {
            opacity: 1;
        }
    }
    &__title {
        font-family: "Montserrat", "sans-serif";
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 2rem;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .form-input {
        font-size: 16px;
        line-height: 1.5;
        padding: 18px 20px;
        &::placeholder {
            color: #3A3A3A;
        }
    }

    &_open {
        opacity: 1;
        visibility: visible;
        .popup__content {
            transform: scale(1);
        }
    }

    &_form-sent {
        .popup__content-page {
            &_one {
                display: none;
            }
            &_two {
                display: block;
            }
        }
    }
    @include phone {
        &__content {
            padding: 1.875rem;
        }
        &__close {
            top: 1.875rem;
            right: 1.875rem;
        }
        &__title {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
        &__form-input {
            padding: 14px;
        }
    }
    @media screen and (max-width: 480px) {
        &__content {
            padding: 1.5rem;
        }
        &__close {
            top: 1.5rem;
            right: 1.5rem;
        }
    }
}