.about-section {
    &__body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.125rem;
        padding-right: 1.25rem;
        @media screen and (min-width: 1480px) {
            margin-right: calc((100% - 1480px) / 2)
        }
    }
    &__img {
        flex-grow: 1;
        position: relative;
        &:before {
            background-image: url(../images/about_bg.svg);
            background-repeat: no-repeat;
            background-position: 80% 40%;
            background-size: 200%;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        img {
            width: 100%;
            height: auto;
            max-height: 45.625rem;
            object-fit: contain;
            object-position: bottom right;
        }
    }
    &__content {
        flex-basis: calc(810 / 1440 * 100%);
        padding-left: 6.125rem;
    }
    &__quote {
        position: relative;
        font-family: "Montserrat", "sans-serif";
        p {
            font-size: 1.625rem;
            font-weight: 500;
            line-height: 1.75rem;
            &:not(:last-child) {
                margin: 0 0 1.25rem;
            }
        }
    }
    &__quote-symbol {
        color: $turquoise;
        font-size: 10rem;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        top: -1rem;
        right: calc(100% + 2.25rem);
    }
    &__quote-author {
        margin: 1.75rem 0 0;
    }
    &__text {
        margin: 3.75rem 0 0;
        @include adaptive-value(margin-top, 24, 58, 576, $max-width);
    }
    &__link {
        display: inline-block;
        margin: 4.375rem 0 0;
        @include adaptive-value(margin-top, 20, 68, 576, $max-width);
    }
    @media screen and (max-width: 1200px) {
        &__body {
            flex-direction: column;
            padding-left: 1.5rem;
        }
        &__img {
            align-self: stretch;
            &:before {
                background-position: center;
                background-size: 120%;
            }
            img {
                max-height: 550px;
            }
        }
    }
    @include tablet {
        &__content {
            padding-left: 0;
        }
        &__quote {
            margin-left: 6.125rem;
        }
        &__img {
            img {
                max-height: 420px;
            }
        }
    }
    @include gap {
        &__img {
            &:before {
                background-size: 200%;
                opacity: 0.3;
            }
        }
    }
    @include phone {
        &__body {
            gap: 1.325rem;
        }
        &__quote {
            margin-left: 3.125rem;
        }
        &__quote-symbol {
            font-size: 6.25rem;
            left: -3.125rem
        }
        &__quote-text {
            p {
                @include mob_base_20;
            }
        }
        &__quote-author {
            margin-top: 1.125rem;
        }
        &__img {
            img {
                max-height: calc(340 / 390 * 100vw);
            }
        }
    }
}