.footer {
    background-color: #E3F4F2;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__top, &__bottom {
        display: flex;
        justify-content: space-between;
        row-gap: 2.5rem;
        column-gap: 4rem;
    }
    &__top {
        padding: 5rem 0 ;
        @include adaptive-value(padding-top, 40, 80, 576, $max-width);
        @include adaptive-value(padding-bottom, 20, 80, 576, $max-width);
        position: relative;
        .footer__col {
            &_main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1.375rem;
                flex: 0 1 21.25rem;
            }
            &:nth-child(2) {
                display: flex;
                justify-content: space-between;
                align-self: flex-start;
                column-gap: 1.25rem;
                row-gap: 3.125rem;
                flex: 0 1 380px;
            }
            &:last-child {
                flex: 0 1 20.625rem;
            }
        }
    }
    &__bottom {
        border-top: 1px solid $border-color;
        margin: 0 -1.25rem;
        padding: 1.25rem 1.25rem;
        .footer__col {
            &:last-child {
                flex-shrink: 0;
            }
        }
    }
    &__logo {
        margin-bottom: auto;
        img {
            height: 4.125rem
        };
    }
    &__copyrights, &__policy {
        @include base_16;
        opacity: 0.4;
    }
    &__call {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;
    }
    &__call-phone, &__mail, &__address {
        font-family: "Inter", "sans-serif";
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.375rem;
    }
    &__call-icon {
        font-size: 1rem;
    }
    &__call-desc {
        display: flex;
        align-items: center;
        gap: 0.375rem
    }
    &__call-label {
        @include base_16;
    }
    &__operation-mode {
        @include base_16;
        margin: 0.5rem 0 0;
    }
    &__aaccent {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 2rem;
        row-gap: 0.375rem;
        span {
            @include base_16;
            opacity: 0.4;
        }
        svg {
            width: auto;
            height: 2.75rem;
        }
    }
    @media screen and (max-width: 1140px) {
        &__top {
            margin: 0 auto;
            max-width: 53.75rem;
        }
        &__top {
            flex-wrap: wrap;
            justify-content: space-between;
            .footer-col {
                &:nth-child(2) {
                    flex-basis: 100%;
                    order: 2;
                    justify-content: space-between;
                }
            }
        }
    }
    @include gap {
        &__top {
            .footer-col {
                &:nth-child(2) {
                    order: 0;
                }
            }
        }
        &__bottom {
            flex-direction: column;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }
    @include phone {
        &__top {
            gap: 1.875rem;
            .footer-col {
                &:first-child {
                    gap: 0.875rem;
                }
                &:last-child {
                    gap: 1.125rem;
                }
            }
        }
        &__bottom {
            padding-top: 0.875rem;
            row-gap: 0.5rem;
        }
        &__logo {
            margin-bottom: 0.375rem;
            img {
                height: 2.75rem;
            }
        }
        &__desc {
            @include base_16;
        }
        &__call-icon {
            font-size: 0.875rem;
        }
        &__call-desc {
            @include mob_base_14;
        }
        &__call-phone,
        &__mail, &__address {
            font-size: 1rem;
        }
        &__copyrights {
            margin-bottom: 0.5rem;
        }
        &__aaccent {
            flex-direction: column;
            svg {
                height: 2.125rem;
            }
        }
    }
}

.footer-col {
    &__menu-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
    }
    &__menu-item {
        &_submenu {
            margin-bottom: auto
        }
    }
    &__menu-link {
        @include base_18;
    }
    &__submenu {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
        margin: 1.5rem 0 0;
    }
    &__submenu-link {
        @include base_16;
        opacity: 0.7;
    }
    &_info {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    @include phone {
        &__menu-list {
            gap: 0.875rem;
        }
        &__menu-item {
            &_submenu {
                margin-bottom: 0
            }
        }
        &__menu-link {
            @include base_16;
        }
        &__submenu {
            margin-top: 0.875rem
        }
        &__submenu-link {
            @include mob_base_14;
        }
    }
}