.header:has(~ .hero-section) {
    background-color: #f6f6f6;
}

.header {
    position: relative;
    z-index: 10;
    &__top {
        display: flex;
        gap: 1rem;
        padding: 1.125rem 0;
    }
    &__main {
        background-color: $white;
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        position: relative;
    }
    &__footer {
        margin: 1.25rem 0 0;
    }
    &__city {
        margin-right: auto;
    }
    &__city, &__account {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        span {
            text-decoration: underline;
        }
    }
    &__city-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 1.125rem;
        height: 1.125rem;
    }
    &__city-text, &__operation-mode, &__account-text {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    &__address {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.375rem;
        @include min_phone {
            display: none;
        }
    }
    &__operation-mode {
        span {
            white-space: nowrap;
        }
        &_mobile {
            display: none;
        }
    }
    &__account {
        margin-left: 3.125rem;
        @include adaptive-value(margin-left, 0, 50, 576, $max-width)
    }
    &__logo {
        display: flex;
        img {
            height: 3.5rem;
            @include adaptive-value(height, 32, 56, 576, $max-width);
            width: auto;
        }
    }
    &__main > &__menu {
        margin-left: 5.375rem;
        margin-right: 1.5rem;
        @include adaptive-value(margin-left, 24, 86, 1140, $max-width)
    }
    &__menu-list {
        display: flex;
        gap: 2.5rem;
        .header__main & {
            @include adaptive-value(column-gap, 16, 40, 1280, $max-width)
        }
    }
    &__menu-item {
        display: flex;
        align-items: baseline;
        gap: 0.5rem;
        cursor: pointer;
        position: relative;
        @media screen and (min-width: 1080px) {
            @include ishover {
                .header__menu-arrow {
                    transform: rotate(-180deg);
                }
                .header__submenu {
                    pointer-events: auto;
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
            &_hover {
                .header__menu-arrow {
                    transform: rotate(-180deg);
                }
                .header__submenu {
                    pointer-events: auto;
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
        @include ishover {
            .header__menu-link, .header__menu-arrow{
                color: $turquoise;
            }
        }
    }
    &__menu-link {
        font-size: 1rem;
        line-height: 1.375;
        white-space: nowrap;
        transition: color 0.2s ease 0s, transform 0.3s cubic-bezier(.4,0,.2,1) 0s;
    }
    &__menu-arrow {
        cursor: pointer;
        font-size: 0.5625rem;
        transition: transform 0.2s ease 0s, color 0.2s ease 0s;
    }
    &__menu-link, &__menu-arrow {
        position: relative;
        z-index: 2;
    }
    &__submenu {
        cursor: auto;
        @media screen and (min-width: 1081px) {
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: -1.625rem;
            opacity: 0;
            min-width: 22.5rem;
            transform: translate(0, -1.5rem);
            transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
            z-index: 3; //3;
            &__back-button {
                display: none;
            }
        }
    }
    &__submenu-back-button {
        @media screen and (min-width: 1081px) {
            display: none;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: 2.75rem;
        @include adaptive-value(gap, 16, 44, 1280, $max-width);
        margin-left: auto;
        @include min_phone {
            & > .header__call-icon,
            & > .header__account-icon {
                display: none;
            }
        }
        & > .header__call-icon {
            font-size: 1.25rem;
        }
        & > .header__account-icon {
            font-size: 1.375rem;
        }

        & > .header__call-icon,
        & > .header__account-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.25rem;
            height: 1.25rem;
        }
        .header__call {
            font-size: 0.9375rem;
        }
        .header__account {
            font-size: 1.125rem;
        }
    }
    &__call {
        flex-shrink: 0;
    }
    &__call-phone {
        font-size: 1.25rem;
        line-height: 1;
    }
    &__call-desc {
        font-size: 0.875rem;
        margin-top: 0.5rem;
    }
    &__call-desc {
        display: flex;
        align-items: center;
        gap: 0.375rem
    }
    &__call-label {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    &__button {
        @include adaptive-value(--padding-x, 24, 60, 1280, $max-width);
        padding-left: var(--padding-x, 3.75rem);
        padding-right: var(--padding-x, 3.75rem)
    }
    &__city, &__account,
    &__call-phone, &__call-desc,
    &__actions > .header__call-icon,
    &__actions > .header__account-icon {
        transition: color 0.2s ease 0s;
        @include ishover {
            color: $turquoise;
        }
    }
    &__burger {
        $padding-x: 12px;
        $padding-y: 18px;
        box-sizing: content-box;
        display: none;
        cursor: pointer;
        position: relative;
        margin-left: 30px;
        padding: $padding-y $padding-x;
        width: 2.625rem;
        height: 1.375rem;
        &:before {
            width: calc(100% - 2 * $padding-x);
        }
        span {
            width: 2rem;
        }
        &:after {
            width: 1.25rem;
        }
        &:before, &:after {
            content: "";
            transform-origin: center center;
            transition: all 0.3s ease 0s;
        }
        &:before, &:after, span {
            background-color: $turquoise;
            position: absolute;
            left: $padding-x;
            height: 2px
        }
        &:before { 
            top: $padding-y
        }
        &:after {
            bottom: $padding-y
        }
        span {
            top: calc(50% - 1px);
            opacity: 1;
            transition: opacity 0.2s ease 0s;
        }
        &_open {
            &:before {
                transform: translateY(10px) rotate(45deg);
            }
            &:after {
                width: calc(100% - 2 * $padding-x);
                transform: translateY(-10px) rotate(-45deg);
            }
            span {
                opacity: 0;
            }
        }
    }
    &__footer {
        @media screen and (max-width: 1080px) {
            display: none;
        }
    }
    &__menu-close {
        cursor: pointer;
        pointer-events: none;
        position: absolute;
        top: 0.5rem;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
        visibility: hidden;
        transform: translate(-1rem, 0);
        transition: all 0.3s ease 0s;
        &:before, &:after {
            background-color: #040A29;
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            left: 0.25rem;
            width: 1rem;
            height: 0.125rem;
            transform-origin: center center;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    @media screen and (max-width: 1080px) {
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        &__menu {
            background-color: $background-color;
            padding: 2.5rem 1.5rem;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: calc(100% - 11rem);
            transform: translate(0, calc(-100% - 11rem));
            transition: transform 0.3s ease 0s;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: -2;
            .header__main & {
                margin: 0;
            }
            & > *:not(.header__menu-list) {
                transition: transform 0.3s cubic-bezier(.4,0,.2,1) 0s;
            }
            &_open {
                transform: translate(0, 0) !important;
            }
            &_submenu-open {
                .header__menu-item {
                    cursor: auto;
                }
                .header__submenu {
                    transform: translate(0, 0);
                }
                .header__menu-link,
                & > *:not(.header__menu-list) {
                    transform: translate(-3.125rem, 0) !important;
                }
            }
        }
        &__menu-list {
            flex-direction: column;
            row-gap: 2rem;
        }
        &__menu-item {
            align-self: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1.5rem;
            position: static;
        }
        &__menu-link {
            font-size: 2rem;
            font-weight: 500;
        }
        &__menu-arrow {
            font-size: 1.125rem;
            font-weight: 500;
            transform: rotate(-90deg);
        }
        &__submenu {
            background-color: $background-color;
            padding: 2.5rem 1.5rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(100%, 0);
            transition: transform 0.3s cubic-bezier(.4,0,.2,1) 0s;
            z-index: 5;
        }
        &__submenu-back-button {
            color: $black;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 0 0 2.5rem;
            font-size: 2rem;
            font-weight: 500;
            transition: color 0.2s ease 0s;
            @include ishover {
                color: $turquoise;
            }
        }
        &__burger {
            display: block;
        }
    }

    @include gap {
        &__main {
            padding: 1.5rem;
        }
        &__menu {
            padding-bottom: 2.5rem;
            height: calc(100% - 10rem);
            transform: translate(0, calc(-100% - 10rem));
        }
        &__menu-list {
            row-gap: 1.25rem;
            padding-bottom: 0;
        }
        &__menu-item {
            align-self: stretch;
            justify-content: space-between;
        }
        &__menu-link, &__submenu-back-button {
            font-size: 1.75rem;
        }
        &__container {
            justify-content: space-between;
            position: relative
        }
        &__call-phone {
            font-size: 1rem;
        }
        // &__call-desc {
        //     display: none;
        // }
        &__button {
            --padding-x: unset;
            margin-top: 2.5rem;
        }
    }

    @include phone {
        margin-bottom: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 0;
        &__top {
            display: none;
            border-top: 1px solid rgba($color: $black, $alpha: 0.3);
            flex-direction: column;
            gap: 0;
            margin-top: 1.25rem;
            transition: background-color 0.3s ease 0s;
        }
        &__main {
            flex-direction: row-reverse;
            justify-content: space-between;
            padding: 0.75rem 0.875rem;
            min-height: 3.5rem;
        }
        &__city {
            margin: 0 0 1.25rem;
        }
        &__call {
            margin-bottom: 1rem;
        }
        &__call-phone {
            font-weight: 500;
        }
        &__operation-mode {
            &_desktop {
                display: none;
            }
            &_mobile {
                display: block;
                margin-bottom: 1.25rem;
            }
        }
        &__address {
            margin-bottom: 0.375rem
        }
        &__account {
            border-top: 1px solid rgba($color: $black, $alpha: 0.3);
            padding-top: 1.5rem;
        }
        &__account-icon {
            font-size: 1.125rem;
        }
        &__account-text {
            font-size: 1rem;
            line-height: 1.125;
        }
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: left 0.3s ease 0s, transform 0.3s ease 0s;
        }
        &__menu {
            padding: 0.5rem 1.25rem 1.875rem;
            height: calc(100% - 4.75rem);
            transform: translate(0, calc(-100% - 4.75rem));
        }
        &__menu-list {
            gap: 1rem;
            padding-top: 1.25rem;
            padding-right: 0;
        }
        &__menu-item {
            row-gap: 0.75rem;
        }
        &__menu-link {
            font-size: 1.125rem;
        }
        &__menu-arrow {
            font-size: 0.75rem;
        }
        &__submenu {
            padding: 0.625rem 1.25rem 1.875rem;
        }
        &__submenu-back-button {
            justify-content: center;
            font-size: 1rem;
            margin-bottom: 1.25rem;
            width: 1.625rem;
            height: 1.625rem;
            .text {
                display: none;
            }
        }
        &__actions {
            margin-left: 0;
            transition: opacity 0.2s ease 0s;

            & > :is(.header__call, .header__button) {
                display: none;
            }
        }
        &__button {
            width: 100%;
        }
        &__burger {
            margin: 0;
            padding: 0;
            width: 2.125rem;
            height: 1rem;
            transition: opacity 0.2s ease 0s;
            span {
                width: 1.625rem;
            }
            &:before {
                top: 0;
                width: 100%;
            }
            &:after {
                bottom: 0;
                width: 1rem;
            }
            span, &:before, &:after {
                left: 0;
            }
            &_open {
                &:before {
                    transform: translateY(7px) rotate(45deg);
                }
                &:after {
                    width: 100%;
                    transform: translateY(-7px) rotate(-45deg);
                }
            }
        }

        &_menu-open {
            .header__main {
                background-color: transparent;
            }
            .header__logo {
                left: 0;
                transform: translate(0, -50%);
            }

            .header__burger, .header__actions {
                pointer-events: none;
                opacity: 0;
                visibility: hidden;
            }

            .header__menu-close {
                pointer-events: auto;
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
            }
        }
    }
    @media screen and (max-width: 380px) {
        &__logo {
            img {
                height: 1.5rem;
            }
        }
        &__actions {
            gap: 0.75rem;
            & > .header__call-icon {
                font-size: 1rem;
            }
            & > .header__account-icon {
                font-size: 1.125rem;
            }
        }
        &__burger {
            width: 1.75rem;
            span {
                width: 1.3125rem;
            }
            &:after {
                width: 0.8125rem;
            }
        }
    }
}

.submenu {
    background-color: $white;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.02), 0 20px 25px -5px rgba(0, 0, 0, 0.05);
    padding: 1.625rem;
    &__item {
        & + & {
            margin-top: 1rem;
        }
    }
    &__link {
        color: #1C2527;
        font-size: 1rem;
        line-height: 1.375;
        white-space: nowrap;
        opacity: 0.8;
        transition: opacity 0.2s ease 0s;
        @include ishover {
            opacity: 1;
        }
    }
    @media screen and (max-width: 1080px) {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        &__item {
            & + & {
                margin-top: 2rem;
            }
        }
        &__link {
            color: inherit;
            font-size: 2rem;
            font-weight: 500;
            opacity: 1;
            transition: color 0.2s ease 0s;
            @include ishover {
                color: $turquoise;
            }
        }
    }
    @include gap {
        &__link {
            font-size: 1.75rem;
        }
    }
    @include phone {
        &__item {
            & + & {
                margin-top: 0.875rem;
            }
        }
        &__link {
            font-size: 1.125rem;
        }
    }
}