.services-section {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
    &__service {
        // flex-grow: 1;
        &_big {
            width: calc(50% - 0.625rem);
        }
        &_small {
            width: calc((100% - 2.5rem) / 3);
        }
    }
    @include tablet {
        &__service {
            &_small {
                width: calc(50% - 0.625rem);
            }
        }
    }
    @include gap {
        &__service {
            width: 100%;
        }
    }

    .service {
        border-radius: 0.5rem;
        display: block;
        color: $white;
        padding: 2.125rem;
        @include adaptive-value(padding, 18, 34, 576, $max-width);

        &:hover {
            .icon {
                background-color: rgba($color: #E3E3E3, $alpha: 0.4);
                transform: rotate(90deg);
                transition: transform .3s;
            }
        }
        &__name {
            font-family: "Montserrat", "sans-serif";
            font-size: 2.25rem;
            font-weight: 600;
            line-height: 2.5rem;
            @include adaptive-value(font-size, 26, 36, 576, $max-width)
        }
        &__desc {
            @include base_18;
            margin: 1.25rem 0 0;
        }
        &__body {
            max-width: 25.75rem;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin: 1.125rem 0 0;
        }
        &__more-cases {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.375;
        }
        &__arrow {
            background-color: rgba($color: #D9D9D9, $alpha: 0.4);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            font-size: 1.5rem;
            @include adaptive-value(font-size, 14, 24, 576, $max-width);
            @include adaptive-value(--side, 52, 76, 576, $max-width);
            width: var(--side, 4.75rem);
            height: var(--side, 4.75rem);
            transition: transform .5s;
        }
        &_primary {
            background-color: $turquoise;
        }
        &_primary-dark {
            background-color: $darkturquoise;
        }
        &_black {
            background-color: $black;
        }
        @include phone {
            &__desc {
                margin-top: 0.75rem;
            }
            &__footer {
                margin-top: 0.375rem;
            }
            &__more-cases {
                font-size: 0.875rem;
                line-height: 1.5rem;
            }
        }
    }
}
