.specialists-section {
    // @media screen and (max-width: 820px) {
    @include phone {
        &__body {
            margin: 0 -1.25rem;
        }
        .swiper {
            padding: 0 1.25rem;
        }
    }
    @media screen and (max-width: 820px) {
        .swiper-slide {
            width: 16.875rem;
        }
    }
    @include phone {
        .swiper-slide {
            width: 11.875rem;
        }
    }
}

.specialist {
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    overflow: hidden;
    picture {
        display: block;
        position: relative;
        height: 0;
        padding-top: calc(420 / 345 * 100%);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc {
        padding: 1.625rem;
    }
    &__name {
        font-family: "Montserrat", "sans-serif";
        font-size: 1.375rem;
        font-weight: 600;
        line-height: 1.75rem;
    }
    &__position {
        @include base_16;
        margin: 0.375rem 0 auto;
    }
    &__params {
        margin: 3.5rem 0 0;
    }
    &__param {
        border: 1px solid $grey;
        border-radius: 0.25rem;
        @include base_16;
        padding: 0.375rem;
        width: fit-content;
        span {
            color: $turquoise;
            white-space: nowrap;
        }
        &:not(:last-child) {
            margin: 0 0 0.375rem;
        }
    }
    @include phone {
        picture {
            padding-top: calc(220 / 186 * 100%);
        }
        &__desc {
            padding: 0.75rem;
        }
        &__name {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
        &__position {
            @include mob_base_14;
        }
        &__params {
            margin-bottom: 2.375rem
        }
        &__param {
            @include mob_base_14;
        }
    }
}