section.about-section.section
    .section__header 
        .container
            h2.section__title О компании
    .about-section__body.section__body
        .about-section__img 
            img(src="images/about.png" alt="")
        .about-section__content 
            .about-section__quote 
                .about-section__quote-symbol “
                .about-section__quote-text 
                    p Наша цель — решить вашу проблему выгодно и изящно.
                    p Мы ценим время, поэтому не будем затягивать сроки, сутяжничать ради оплаты и реализуем оптимальный план по защите ваших интересов.
                .about-section__quote-author.profile 
                    img.profile__icon(src="images/about.png" alt="")
                    div
                        .profile__name Иванов Иван Иванович
                        .profile__position основатель компании
            .about-section__text.text-block
                p 
                    | Среди огромного числа практикующих адвокатов и юристов в Москве 
                    | и Московской области очень важно выбрать специалиста, который подходит именно вам. Мы всегда говорим, что для каждого клиента есть свой собственный адвокат, с которым и только с которым у него сложатся 
                    | действительно доверительные отношения.
                p 
                    | Только в этом случае можно говорить об эффективной работе и высоких шансах на успех.
                p 
                    | Все 30 лет своей профессиональной деятельности на рынке юридических услуг
                    |  мы всегда ратовали за комфортные и открытые отношения 
                    | между адвокатом и доверителем и предлагаем Вашему вниманию 
                    | те преимущества, которые выгодно отличают адвокатов Бюро от конкурентов.
            a.about-section__link.button.button_primary(href="about-page.html") Подробнее