section.hero-section 
    .hero-section__container.container 
        .hero-section__content 
            .hero-section__title Торговое предложение в две строки
            p.hero-section__desc 
                | Задача организации, в особенности же повышение уровня гражданского сознания способствует повышению актуальности системы масштабного изменения ряда параметров! Соображения высшего порядка, а также повышение
                //- | Задача организации, в особенности же повышение уровня гражданского сознания способствует повышению актуальности системы масштабного изменения ряда параметров! Соображения высшего порядка, а также повышение
                //- | Задача организации, в особенности же повышение уровня гражданского сознания способствует повышению актуальности системы масштабного изменения ряда параметров! Соображения высшего порядка, а также повышение
                //- | Задача организации, в особенности же повышение уровня гражданского сознания способствует повышению актуальности системы масштабного изменения ряда параметров! Соображения высшего порядка, а также повышение
            .hero-section__button.button.button_primary Получить консультацию
        .hero-section__img
            //- .hero-section__img-wrapper
            img(src="./images/hero.png", alt="бюст ученого")
            .hero-section__phrase.hero-section__phrase_right Помогаем в вопросах любой сложности
            .hero-section__phrase.hero-section__phrase_left Частным клиентам#[br]и&nbsp;бизнесу