aside.in-numbers 
    .in-numbers__container.container
        ul.in-numbers__list 
            li.in-numbers__item.number.number_primary 
                .number__value c 2007 года
                .number__label на рынке
            li.in-numbers__item.number.number_outlined
                .number__value 5 500 000 +
                .number__label клиентов физических лиц
            li.in-numbers__item.number.number_black 
                .number__value 450 000 +
                .number__label клиентов юридичесих лиц
            li.in-numbers__item.number.number_white 
                .number__value в 30 странах
                .number__label партнерская сеть адвокатов