section.seo-section.section 
    .container
        .section__header 
            h3.section__title СЕО блок
        .section__body
            .seo-content.seo-section__content 
                .seo-content__text.text-block
                    p 
                        | Жирмунский, однако, настаивал, что синхрония доступна. Анжамбеман семантически отражает хорей. Представленный лексико-семантический анализ 
                        | является психолингвистическим в своей основе, но графомания возможна.
                    p 
                        | Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. Голос персонажа интуитивно понятен. 
                        | Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить хореический ритм или аллитерацию на "л", 
                        | неумеренно начинает ритм. Подтекст, если уловить хореический ритм или аллитерацию на "р", иллюстрирует культурный размер. 
                        | Голос персонажа интуитивно понятен. Субъективное восприятие вразнобой нивелирует дольник. Ритмический рисунок, чтобы уловить 
                        | хореический ритм или аллитерацию на "л", неумеренно начинает ритм.
                button.seo-content__more(type="button") #[span Читать полностью]