section.services-section.section
    .container
        .section__header 
            h3.section__title Услуги
            a.section__link(href="./services-page.html") Показать все
        .section__body
            ul.services-section__list 
                li.services-section__service.services-section__service_big
                    a.service.service_primary(href="./single-service-page.html")
                        .service__body
                            .service__name Гражданское право
                            .service__desc 
                                | Отказаться от страховки, рефинансировать кредит, вернуть заём по расписке, досрочно погасить кредит
                        .service__footer
                            .service__more-cases и ещё 1806 ситуаций
                            .service__arrow.icon.icon-arrow-link
                li.services-section__service.services-section__service_big
                    a.service.service_primary-dark(href="./single-service-page.html")
                        .service__body
                            .service__name Гражданское право
                            .service__desc 
                                | Отказаться от страховки, рефинансировать кредит, вернуть заём по расписке, досрочно погасить кредит
                        .service__footer
                            .service__more-cases и ещё 1806 ситуаций
                            .service__arrow.icon.icon-arrow-link    
                li.services-section__service.services-section__service_small
                    a.service.service_black(href="./single-service-page.html")
                        .service__body
                            .service__name Гражданское право
                            .service__desc 
                                | Отказаться от страховки, рефинансировать кредит, вернуть заём по расписке, досрочно погасить кредит
                        .service__footer
                            .service__more-cases и ещё 1806 ситуаций
                            .service__arrow.icon.icon-arrow-link
                li.services-section__service.services-section__service_small
                    a.service.service_primary-dark(href="./single-service-page.html")
                        .service__body
                            .service__name Гражданское право
                            .service__desc 
                                | Отказаться от страховки, рефинансировать кредит, вернуть заём по расписке, досрочно погасить кредит
                        .service__footer
                            .service__more-cases и ещё 1806 ситуаций
                            .service__arrow.icon.icon-arrow-link
                li.services-section__service.services-section__service_small
                    a.service.service_primary(href="./single-service-page.html")
                        .service__body
                            .service__name Гражданское право
                            .service__desc 
                                | Отказаться от страховки, рефинансировать кредит, вернуть заём по расписке, досрочно погасить кредит
                        .service__footer
                            .service__more-cases и ещё 1806 ситуаций
                            .service__arrow.icon.icon-arrow-link