section.steps-section.section 
    .container 
        .steps-section__header.section__header 
            h3.section__title Шаги реализации проекта
            div 
                | Можем встретиться в нашем офисе, можем вести дела без вашего присутствия (в городе или стране), можем приехать в любой город России.
        .section__body 
            .steps-section__steps
                .steps-section__step.step.step_primary
                    .step__header 
                        .step__title Свяжитесь с нами
                        .step__number 1
                    .step__body 
                        .step__desc.text.text_18
                            | Первичная бесплатная консультация и анализ перспективы судебного дела, изучение документов клиента и выработка судебной стратегии.
                    .step__footer
                        .step__tag Мягкое решение
                .steps-section__step.step.step_dark
                    .step__header 
                        .step__title Первичная консультация
                        .step__number 2
                    .step__body 
                        .step__desc.text.text_18
                            | Первичная бесплатная консультация и анализ перспективы судебного дела, изучение документов клиента и выработка судебной стратегии.
                    .step__footer
                        .step__tag Профессиональные юристы
                .steps-section__step.step.step_black
                    .step__header 
                        .step__title Заключение договора
                        .step__number 3
                    .step__body 
                        .step__desc.text.text_18 
                            | Заключение договора с компанией, выбор юриста, передача нотариальной доверенности.
                    .step__footer
                        .step__tag Комфорт
                .steps-section__step.step.step_primary
                    .step__header 
                        .step__title Ведение вашего дела
                        .step__number 4
                        .step__tag Надежность и качество
                    .step__body 
                        .step__desc.text.text_18
                         | Мы дорожим вашим доверием и ценим свою репутацию, поэтому даем абсолютно полную гарантию списания долгов, если мы берем ваше дело в работу.
                    .step__footer
                        .button.button_secondary #[span Получить консультацию]
                        .step__tag надежность и качество
