section.why-section.section
    .container 
        .section__header 
            h3.section__title Почему выбирают нас
        .why-section__body.section__body
            .why-section__desc 
                p
                    |Среди огромного числа практикующих адвокатов и юристов
                    | в Москве и Московской области очень важно выбрать
                    | специалиста, который подходит именно вам.
                p 
                    | Мы всегда говорим, что для каждого клиента есть свой
                    | собственный адвокат, с которым и только с которым у него 
                    | сложатся действительно доверительные отношения. Только 
                    | в этом случае можно говорить об эффективной работе и высоких шансах на успех.
            .why-section__advantages 
                ul.why-section__advantages-list
                    li.why-section__advantage-item.advantage 
                        .advantage__number 01
                        .advantage__text Профессионализм и узкая специализация адвокатов
                    li.why-section__advantage-item.advantage 
                        .advantage__number 02
                        .advantage__text Определение правовой позиции до заключения соглашения
                    li.why-section__advantage-item.advantage 
                        .advantage__number 03
                        .advantage__text Успешно используем нетворк для лоббирования интересов доверителей во многих сферах
                    li.why-section__advantage-item.advantage 
                        .advantage__number 04
                        .advantage__text Не берёмся за заведомо проигрышные дела, так как дорожим вашим временем и нашей деловой репутацией
                    li.why-section__advantage-item.advantage 
                        .advantage__number 05
                        .advantage__text Под каждое дело подбирается исключительно лучшие адвокаты с данной специализацией