$max-width: 1600;

// Colors
$black: #303030;
$white: #FFFFFF;
$grey: #E3E2E2;
$turquoise: #06B3A5;
$lightturquoise: #0EC4B6;
$darkturquoise: #07A296;
$red: #FF0000;

$background-color: #F6F6F6;
$border-color: rgba($color: $black, $alpha: 0.2);