@import "../base/vars";
@import "../base/fonts";
@import "../base/icons";
@import "../mixins/breakpoints";
@import "../mixins/fonts";
@import "../mixins/media";
@import "base";

// components
@import "../components/breadcrumbs";
@import "../components/button";
@import "../components/popup";
@import "../components/form";
@import "../components/news";
@import "../components/filter-panel";

// modules
@import "../modules/header";
.news-section {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
    &__news {
        width: calc(50% - 0.625rem)
    }
    &__more {
        display: block;
        margin: 2.625rem auto 0;
        width: fit-content;
    }
    @include min_desktop {
        &__news {
            &:not(.news-section__news_big) {
                width: calc(25% - 0.9375rem);
            }
        }
    }
    @include gap {
        &__news {
            width: 100%;
        }
    }
    @include phone {
        &__more {
            margin-top: 1rem
        }
    }
}

@import "../modules/contacts-section";
@import "../modules/footer";