.news-section {
    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
    &__news {
        width: calc(50% - 0.625rem)
    }
    &__more {
        display: block;
        margin: 2.625rem auto 0;
        width: fit-content;
    }
    @include min_desktop {
        &__news {
            &:not(.news-section__news_big) {
                width: calc(25% - 0.9375rem);
            }
        }
    }
    @include gap {
        &__news {
            width: 100%;
        }
    }
    @include phone {
        &__more {
            margin-top: 1rem
        }
    }
}
