@import "../base/vars";
@import "../base/fonts";
@import "../base/icons";
@import "../mixins/breakpoints";
@import "../mixins/fonts";
@import "../mixins/media";
@import "base";

// components
@import "../components/breadcrumbs";
@import "../components/button";
@import "../components/popup";
@import "../components/form";

// modules
@import "../modules/header";

.services-section {
    margin-bottom: 9.4rem;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.25rem;
    }
    &__block {
        grid-row: span 6;
        &_horizontal {
            grid-column: span 2;
        }
        &_horizontal-wide {
            grid-column: span 3;
        }
        &_vertical {
            grid-row: span 7;
        }
    }
    @media screen and (max-width: 1024px) {
        &__grid {
            grid-template-columns: repeat(4, 1fr);
        }
        &__block {
            grid-column: span 2;
        }
    }
    @include gap {
        &__block {
            grid-column: span 4;
        }
    }
    @include phone {
        margin-bottom: 4.4rem;
        &__block {
            &:not(:last-child) {
                margin-bottom: 0.625rem;
            }
        }
    }
}

.services-block {
    background-color: $white;
    padding: 1.625rem;
    &__title {
        @include desk__aaccent_36;
    }
    &__list {
        margin-top: 1.625rem;
    }
    &__list-item {
        &:first-child .services-block__service { padding-top: 0 }
        &:last-child .services-block__service { padding-bottom: 0 }
        &:not(:last-child) .services-block__service { border-bottom: 1px solid $border-color}
    }
    &__service {
        display: inline-block;
        padding: 0.75rem 0;

        &:hover {
            .service__icon {
                color: $turquoise;
                border-color: $turquoise;
                transform: rotate(90deg);
                transition: transform .3s;
            }
        }

        &:active {
            .service__icon {
                color: $turquoise;
                border-color: $turquoise;
                opacity: 1;
            }
        }
    }
    @include phone {
        padding: 1rem;
        &__title {
            @include mob_aaccent_26
        }
        &__list {
            margin-top: 1.375rem;
        }
    }
}

.service {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    &__icon {
        border: 1px solid $black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        font-size: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0.5;
        transition: transform .5s;
    }
}

@import "../modules/contacts-section";
@import "../modules/footer";