.section {
    &__body {
        & > .text-block {
            margin: 0 0 4.375rem;
            @include adaptive-value(margin-bottom, 28, 70, 576, $max-width)
        }
    }
}
.inner-section {
    &:not(:last-child) {
        margin: 0 0 4.375rem
    }
    &__title {
        @include desk_title_subtitle;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    @include phone {
        &:not(:last-child) {
            margin-bottom: 3.125rem
        }
        &__title {
            @include mob_subtitle;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
    }
}
