extends templates/layout

block head
    title  
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/about-page.min.css")
block content 
    .page 
        nav.page__breadcrumbs.breadcrumbs
            .container
                ol.breadcrumbs__list 
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="/") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") О компании
        h2.page__title 
            .container О компании
        section.about-company-secion.section
            .container 
                .section__header 
                    h3.about-company-section__title.section__title Мы — юридическая компания «Советник»
                .about-company-section.section__body
                    .text
                        p
                            | Ежегодно жители страны становятся всё более закредитованными. Такое же положение сложилось и в 2022 году, чему способствовали пандемия 
                            | Covid-19 и инфляционные процессы. Согласно статистическим отчётам ЦБ, более половины экономически активного населения в стране имеет действующие займы. 
                            | В целом финансовая обстановка ухудшается — учащаются просрочки.
                        p 
                            | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер, 
                            | которые позволяют предотвратить уголовное преследование руководства и сотрудников компании.
                    .about-company-section__columns-block 
                        div Довольные клиенты — наша большая ценность, поэтому мы:
                        .text 
                            p 
                                | Успешная российская юридическая компания предоставляющая полный спектр правовых услуг во всех регионах России. На защите ваших интересов с 2006 года!
                                | Успешная российская юридическая компания предоставляющая полный спектр правовых услуг во всех регионах России
                            p 
                                | Успешная российская юридическая компания предоставляющая полный спектр правовых услуг во всех регионах России. На защите ваших интересов с 2006 года!
                                | Успешная российская юридическая компания предоставляющая полный спектр правовых услуг во всех регионах России
        include ./includes/in-numbers
        include ./includes/why-section
        include ./includes/specialists-section
        include ./includes/reviews-section
        include ./includes/press-center-section
        
        mixin certificate 
            .certificates-section__certificate.certificate 
                img.certificate__img(src="./images/certificate.png", alt="")
                .certificate__name Сертификат на осуществление деятельности Л-3321

        section.certificates-section.section 
            .container 
                .section__header
                    h3.section__title Сертификаты
                    .swiper-buttons 
                        .swiper-button-prev 
                            .icon-arrow-next 
                        .swiper-button-next 
                            .icon-arrow-next
                .certificates-section__body.section__body 
                    .certificates-section__swiper.swiper 
                        .swiper-wrapper 
                            - for (var i = 0; i < 8; i++)
                                .swiper-slide
                                    +certificate
                                
                        
        include ./includes/contacts-section
block scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src="js/index.min.js") 