extends templates/layout

block head
    title  
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/style.min.css")
block content 
    include ./includes/hero-section
    include ./includes/why-section
    include ./includes/services-section
    include ./includes/about-section
    include ./includes/specialists-section
    include ./includes/press-center-section
    include ./includes/reviews-section
    include ./includes/seo-section
    include ./includes/contacts-section
block append scripts 
    script(src="js/libs/swiper-bundle.min.js")
    script(src="js/index.min.js") 