extends templates/layout

mixin project 
    a.projects-section__project.project(href="single-project-page.html") 
        .project__img 
            img(src="images/single-project.png", alt="")
        .project__content 
            .project__name Название проекта
            .project__desc.text.text_16 
                | Обращалась к юристам на Пушкина по вопросу банкротства, все подробно объяснили. Сама процедура заняла полгода и недавно все благополучно
                | завершилось. Дело вела юрист Алла. Благодарю Федеральное Юридическое Бюро за помощь в решении моих финансовых проблем. Бюро за помощь в решении моих финансовых проблем.

block head
    title Реализованные проекты
    link(rel="stylesheet", href="css/projects-page.min.css")
block content 
    .page 
        nav.page__nav
            .container
                a.page__back-button(href="#") 
                    .icon-arrow-backwards 
                    span Назад
                ol.page__breadcrumbs.breadcrumbs
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="/") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") Реализованные проекты
        .page__header
            .container 
                h1.page__title Реализованные проекты
        section.projects-section.section
            .container 
                .section__header 
                    .filter-panel
                        button.filter-panel__item.filter-panel__item_active(type="button" data-value="all") #[span Все]
                        button.filter-panel__item(type="button" data-value="devorce") #[span Развод]
                        button.filter-panel__item(type="button" data-value="bankruptcy") #[span Банкротство]
                        button.filter-panel__item(type="button" data-value="debt collection") #[span Взыскание задолженности]
                        button.filter-panel__item(type="button" data-value="inheritance") #[span Наследство]
                        button.filter-panel__item(type="button" data-value="accompaniment") #[span Сопровождение]
                        button.filter-panel__item(type="button" data-value="family matters") #[span Семейные дела]
                        button.filter-panel__item(type="button" data-value="real estate") #[span Сделки с недвижимостью]
                .section__body 
                    .projects-section__grid 
                        - for (var i = 0; i < 9; i++) 
                            +project
                    a.projects-section__more.button.button_primary(href="#") #[span Показать ещё]            
        include ./includes/contacts-section