extends templates/layout

block head
    title  Страница услуг
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/services-page.min.css")
block content 
    .page
        nav.page__nav
            .container
                a.page__back-button(href="#") 
                    .icon-arrow-backwards 
                    span Назад
                ol.page__breadcrumbs.breadcrumbs
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="/") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") Услуги 
        .page__header
            .container 
                h1.page__title Услуги
        section.services-section.section 
            .container
                .section__header 
                .section__body 
                    .services-section__grid
                        .services-section__block.services-section__block_vertical.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-section__block_horizontal.services-block
                            .services-block__title Сделки с недвижимостью
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Юристы по недвижимости
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение сделок с недвижимостьб
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение купли-продажи коммерческой недвижимости
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение сделки купли-продажи квартиры
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Земельные юристы
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Признание права собственности на земельный участок
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-section__block_vertical.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-section__block_vertical.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                                    li.services-block__list-item
                                        a.services-block__service.service(href="#")
                                            .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                            .service__icon.icon-arrow-link
                        .services-section__block.services-section__block_horizontal.services-block
                            .services-block__title Сделки с недвижимостью
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Юристы по недвижимости
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение сделок с недвижимостьб
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение купли-продажи коммерческой недвижимости
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Сопровождение сделки купли-продажи квартиры
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Земельные юристы
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Признание права собственности на земельный участок
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-block 
                            .services-block__title Защита дольщиков
                            ul.services-block__list 
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                                li.services-block__list-item
                                    a.services-block__service.service(href="#")
                                        .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                        .service__icon.icon-arrow-link
                        .services-section__block.services-block 
                                    .services-block__title Защита дольщиков
                                    ul.services-block__list 
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
                                        li.services-block__list-item
                                            a.services-block__service.service(href="#")
                                                .service__name.text.text_18 Взыскание неустойки по ДДУ с застройщика
                                                .service__icon.icon-arrow-link
        include ./includes/contacts-section
block append scripts 
    script(src="js/index.min.js") 