extends templates/layout

block head
    title Страница реализованного проекта
    link(rel="stylesheet", href="css/libs/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/libs/fancybox.css")
    link(rel="stylesheet", href="css/single-project-page.min.css")
block content 
    .page
        nav.page__nav
            .container
                a.page__back-button(href="#") 
                    .icon-arrow-backwards 
                    span Назад
                ol.page__breadcrumbs.breadcrumbs
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="/") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="projects-page.html") Реализованные проекты
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") Название проекта
        h2.page__title 
            .container Страница реализованного проекта
        section.project-section.section 
            .container 
                .section__header
                    h3.section__title Название проекта 
                .section__body 
                    .project-section__inner-section.inner-section
                        .text-block 
                            p 
                                | Ежегодно жители страны становятся всё более закредитованными. Такое же положение сложилось и в 2022 году, чему способствовали пандемия 
                                | Covid-19 и инфляционные процессы. Согласно статистическим отчётам ЦБ, более половины экономически активного населения в стране имеет действующие займы. 
                                | В целом финансовая обстановка ухудшается — учащаются просрочки.
                            p
                                | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер, 
                                | которые позволяют предотвратить уголовное преследование руководства и сотрудников компании.
                    .project-section__details.project-section__inner-section.inner-section
                        .inner-section__title Подзаголовок 
                        .text-block 
                            p 
                                | Ежегодно жители страны становятся всё более закредитованными. Такое же положение сложилось и в 2022 году, чему способствовали пандемия 
                                | Covid-19 и инфляционные процессы. Согласно статистическим отчётам ЦБ, более половины экономически активного населения в стране имеет действующие займы. 
                                | В целом финансовая обстановка ухудшается — учащаются просрочки.
                            p
                                | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер, 
                                | которые позволяют предотвратить уголовное преследование руководства и сотрудников компании.
                        ul.project-section__list 
                            li.project-section__list-item.list-item 
                                .list-item__title Название пункта
                                p.list-item__desc.text.text_18
                                    | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер, 
                                    | которые позволяют предотвратить уголовное преследование руководства и сотрудников компании.
                            li.project-section__list-item.list-item 
                                .list-item__title Название пункта
                                p.list-item__desc.text.text_18 
                                    | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер, 
                                    | которые позволяют предотвратить уголовное преследование руководства и сотрудников компании.
                            li.project-section__list-item.list-item 
                                .list-item__title Длинное название пункта прописанное в несколько строк
                                p.list-item__desc.text.text_18
                                    | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование руководства и сотрудников компании. Мы предлагаем комплекс мер.
                            li.project-section__list-item.list-item 
                                .list-item__title Название пункта
                                p.list-item__desc.text.text_18
                                    | Мы предлагаем комплекс мер, которые позволяют предотвратить уголовное преследование
                    .project-section__desc.project-section__inner-section.inner-section
                        .inner-section__title Описание дела № 2-3129/2021
                        .inner-section__body
                            .inner-section__block.inner-block.project-section__lawyers 
                                .inner-block__header 
                                    .inner-block__title Дело вели:
                                .inner-block__body 
                                    .lawyer.profile 
                                        .profile__icon 
                                            img(src="images/avatar.png", alt="")
                                        div 
                                            .profile__name Соболева Юлия Владимировна
                                            .profile__position
                                                span ведущий юрист
                                                span 7 лет опыта
                                                span более 200 выигранных дел
                                    .lawyer.profile 
                                        .profile__icon 
                                            img(src="images/avatar.png", alt="")
                                        div 
                                            .profile__name Соболева Юлия Владимировна
                                            .profile__position
                                                span ведущий юрист
                                                span 7 лет опыта
                                                span более 200 выигранных дел
                            .inner-section__block.inner-block.project-section__attachments 
                                .inner-block__header 
                                    .inner-block__title Документы по делу:
                                    a.inner-block__link(href="#" target="_blank") 
                                        span.icon-document 
                                        span.text Открыть в pdf
                                .inner-block__body 
                                    .inner-block__attachments 
                                        .inner-block__attachment.attachment(data-fancybox data-src="images/document.png") 
                                            img.attachment__img(src="images/document.png", alt="копия документа")
                                            .attachment__loupe.icon-loupe
                                        .inner-block__attachment.attachment(data-fancybox data-src="images/document.png")  
                                            img.attachment__img(src="images/document.png", alt="копия документа")
                                            .attachment__loupe.icon-loupe
                                        .inner-block__attachment.attachment(data-fancybox data-src="images/document.png")  
                                            img.attachment__img(src="images/document.png", alt="копия документа")
                                            .attachment__loupe.icon-loupe
        section.projects-section.section 
            .container 
                .section__header 
                    h3.section__title Похожие проекты
                .projects-section__body.section__body
                    mixin project 
                        a.projects-section__project.project.swiper-slide(href="./single-project-page.html")
                            .project__img 
                                img(src="images/single-project.png", alt="")
                            .project__content 
                                .project__name Название проекта
                                .project__desc.text.text_16 
                                    | Обращалась к юристам на Пушкина по вопросу банкротства, все подробно объяснили. Сама процедура заняла полгода и недавно все благополучно
                                    | завершилось. Дело вела юрист Алла. Благодарю Федеральное Юридическое Бюро за помощь в решении моих финансовых проблем. Бюро за помощь в решении моих финансовых проблем.
                    .projects-section__swiper.swiper
                        .swiper-wrapper 
                            - for (var i = 0; i < 3; i++)
                                +project
        include ./includes/contacts-section
block append scripts 
    script(src="js/libs/fancybox.umd.js") 
    script(src="js/index.min.js") 