:root {
    --init-width: 1600
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: $background-color;
    color: $black;
    font-family: "Inter", "sans-serif";
    &._lock {
        height: 100%;
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    font-family: inherit;
    &[type="button"] {
        cursor: pointer;
    }
}

input, textarea {
    background-color: transparent;
    border: none;
    outline: none;
    outline-color: transparent;
}

img {
    vertical-align: top;
}

.container {
    margin: 0 auto;
    padding: 0 1.25rem;
    width: 100%;
    max-width: 1480px;
}

.section {
    margin: 0 0 9.375rem;
    @include adaptive-value(margin-bottom, 70, 150, 576, $max-width);
    &__header {
        display: flex;
        align-items: baseline;
        gap: 1.5rem;
        margin: 0 0 2.625rem;
    }
    &__title {
        @include desk_title_block;
        margin-right: auto;
    }
    &__link {
        color: $turquoise;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
        text-decoration: underline;
    }
    &__body {}
    @include phone {
        &__header {
            gap: 1rem;
            margin-bottom: 1.5rem;
        }
        &__title {
            @include mob_block_title
        }
    }
}

.page {
    padding: 3.125rem 0 0;
    @include adaptive-value(padding-top, 20, 50, 576, $max-width);
    &__nav {
        margin: 0 0 4.5rem;
        @include adaptive-value(margin-bottom, 16, 72, 572, $max-width)
    }
    &__back-button {
        display: none;
        align-items: center;
        gap: 0.375rem;
        .icon-bacwards {
            font-size: 0.625rem
        }
        span {
            @include mob_base_14;
        }
    }
    &__header {
        margin: 0 0 3.375rem
    }
    &__title {
        @include desk_title_hero;
    }
    @include phone {
        &__back-button {
            display: flex;
        }
        &__breadcrumbs {
            display: none;
        }
        &__header {
            margin-bottom: 1.875rem;

        }
    }
}

.text-block {
    p {
        @include base_18;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
    @include phone {
        p {
            @include base_16;
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}

.text {
    &_16 {
        @include base_16;
    }
    &_18 {
        @include base_18
    }
    @include phone {
        &_16 {
            @include mob_base_14;
        }
    }
}


.city {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    cursor: pointer;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.375rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    &__text {
        font-size: 1.125rem;
        line-height: 1.625rem;
    }
    &_active {
        color: $turquoise
    }
    @include ishover {
        color: $turquoise;
    }
    @include phone {
        gap: 0.25rem;
        &__icon {
            font-size: 1.125rem;
            width: 1.25rem;
            height: 1.25rem;
        }
        &__text {
            font-size: 1rem;
            line-height: 1.375;
        }
    }
}

.close {
    cursor: pointer;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease 0s;
    &:before, &:after {
        background-color: #040A29;
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 50%;
        width: 1rem;
        height: 0.125rem;
        transform-origin: center center;
    }
    &:before {
        transform: translate(-50%, 0) rotate(45deg);
    }
    &:after {
        transform: translate(-50%, 0) rotate(-45deg);
    }
}

.popup {
    &__cities-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    &_cities {
        .popup__content {
            background-color: #FBFBFB;
        }
        .popup__close {
            &:before, &:after {
                background-color: $black;
            }
            @include ishover {
                opacity: 1;
            }
        }
        .popup__body {
            margin: 1.875rem 0 0;
        }
    }
    &_callback {
        .popup__content {
            background-color: $turquoise;
        }
        .popup__close {
            &:before, &:after {
                background-color: $white;
            }
        }
        .form-block {
            &__page {
                &_one {
                    .form-block {
                        &__title {
                        }
                    }
                }
                &_two {
                    align-items: center;
                    .form-block {
                        &__title {
                            color: $black;
                        }
                        &__body {
                            order: -1;
                        }
                    }
                }
            }
            &__header {
                gap: 0.875rem;
            }
            &__title {
                @include desk_blog-name;
                text-align: center;
            }
            &__subtitle {
                color: $black;
            }
            &__body {
                margin-top: 2.5rem;
                order: -1;
            }
            &_sent {
                .form-block__page {
                    &_one { display: none; }
                    &_two { display: flex; }
                }
            }
        }
    }
    &_white {
        .popup {
            &__content {
                background-color: #E9F1F1;
            }
            &__close {
                &:before, &:after {
                    background-color: $black
                }
            }
        }
    }
    @include min_phone {
        .form__submit {
            margin-top: 0.875rem;
        }
    }
    @include phone {
        &__cities-list {
            gap: 1rem;
        }

        .form-block {
            &__title {
                @include mob_subtitle;
            }
        }
    }
    @media screen and (max-width: 480px) {
        &_callback {
            .popup {
                &__close {
                    right: 1rem;
                }
                &__content {
                    padding: 1rem;
                }
            }
            .form-block {
                &__title {
                    font-size: 1.375rem;
                    text-align: left;
                }
                &_sent {
                    .form-block__page_one { display: none; }
                    .form-block__page_two { 
                        display: flex; 
                    }
                }
                &__page {
                    &_one {
                        .form-block {
                            &__title {
                                margin-right: 1.5rem;
                            }
                            &__body {
                                margin-top: 1.5rem;
                            }
                        }
                    }
                    &_two {
                        align-items: flex-start;
                    }
                }
                &__socials {
                    align-items: flex-start;
                }
            }
            .form {
                &__submit {
                    align-self: stretch;
                }
                &__check-box {
                    font-size: 1.25rem;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
        }
    }
}

.form-block {
    &__header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &__body {
        transition: opacity 0.3s ease 0s;
    }
    &__footer {
        margin: 3rem 0 0;
    }
    &__title {
        color: $white;
        @include desk_title_block;
    }
    &__subtitle {
        color: $white;
        @include base_18;
    }
    &__logo {
        margin-bottom: 1.875rem;
        height: 6.25rem;
    }
    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.875rem
    }
    &__socials-label {
        @include base_16;
        font-weight: 600;
        opacity: 0.8;
    }
    &__page {
        width: 100%;
        &_one {

        }
        &_two {
            display: none;
            flex-direction: column;
            .form-block__body {
                margin: 0;
            }
        }
    }
    @include phone {
        &__header {
            gap: 0.875rem;
        }
        &__title {
            font-size: 1.5rem;
            line-height: 1.8125rem;
        }
        &__subtitle {
            @include base_16;
        }
        &__form {
            gap: 1.5rem;
        }
        &__logo {
            height: 4.875rem;
        }
    }
}

.socials {
    display: flex;
    gap: 0.625rem;
    &__item {
        border: 1px solid rgba($color: $black, $alpha: 0.4);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        line-height: 1;
        width: 2.875rem;
        height: 2.875rem;
    }
    @include phone {
        gap: 0.25rem;
        &__item {
            width: 2.125rem;
            height: 2.125rem;
        }
        &__link {
            width: 1.125rem;
            img {
                width: 100%;
            }
        }
    }
}

.swiper {
    margin-bottom: -0.625rem;
    padding-bottom: 0.625rem;
}
.swiper-buttons {
    display: flex;
    gap: 2.125rem;
    @include phone {
        gap: 1.25rem;
    }
}

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid rgba($color: $black, $alpha: 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: $black;
    font-size: 1.375rem;
    margin: 0;
    position: static;
    width: 3rem;
    height: 3rem;
    &:after {
        content: none
    }
    &:not(.swiper-button-lock) {
        display: flex;
    }
    @include phone {
        font-size: 1rem;
        width: 2.375rem;
        height: 2.375rem;
    }
}

.swiper-button-prev {
    transform: rotate(-180deg);
}