@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/fonts.scss";
@import "mixins/media.scss";
@import "base.scss";

// components
@import "components/breadcrumbs";
@import "components/button";
@import "components/popup";
@import "components/form";

// modules
@import "modules/header.scss";

.contacts-section {
    &__body {
        display: flex;
        gap: 2.625rem;
    }
    &__map {
        display: flex;
        flex-direction: column;
        width: calc(832 / 1440 * 100%);
        overflow: hidden;
        #contact-map {
            border-radius: 0.625rem;
            flex-grow: 1;
            width: 100%;
            overflow: hidden;
        }
    }
    &__map-desc {
        margin: 2.125rem 0 0;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 2.625rem;
        flex-grow: 1;
        flex: 0 1 542px;
        .button {
            align-self: flex-start;
        }
    }
    @include tablet {
        &__body {
            flex-direction: column;
        }
        &__map {
            flex-basis: auto;
            width: 100%;
            #contact-map {
                height: 34.375rem;
            }
        }
    }
    @include phone {
        &__body {
            gap: 2rem;
        }
        &__map {
            #contact-map {
                height: 30rem;
            }
        }
        &__map-desc {
            margin-top: 1rem;
        }
        &__info {
            gap: 1.75rem;
        }
    }
    @media screen and (max-width: 420px) {
        &__map {
            #contact-map {
                height: 27.625rem;
            }
        }
    }
}

.contact-info {
    &__title {
        display: flex;
        align-items: center;
        gap: 0.875rem;
        .icon-phone { font-size: 1.5rem; }
        .icon-clock { font-size: 1.625rem; }
        .icon-address { font-size: 1.8125rem; }
        span {
            &:last-child {
                @include desk_title_subtitle;

            }
        }
    }
    &__body {
        margin: 1.5rem 0 0
    }
    &__text {
        @include base_22;
    }
    &_contacts {
        
    }
    &_operation-mode {
        .contact-info__title {

        }
    }
    @include phone {
        &__title {
            gap: 0.5rem;
            .icon-phone { font-size: 1.3125rem; }
            .icon-clock { font-size: 1.5rem; }
            .icon-address { font-size: 1.5625rem; }
            span {
                &:last-child {
                    @include mob_subtitle;
                }
            }
        }
        &__body {
            margin-top: 1rem;
        }
    }
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    caption {}
    .socials {
        display: inline-flex;
    }
    tr {
        &:first-child {
            td { padding-top: 0; }
        }
        &:last-child {
            td { padding-bottom: 0; }
        }
        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
    td {
        padding: 0.75rem 0;
        &:first-child {
            @include base_18;
            white-space: nowrap;
        }
        &:last-child {
            @include base_22;
            text-align: right;
            &._inactive {
                opacity: 0.5;
            }
        }
        @include phone {
            &:last-child {
                font-size: 1rem;
                line-height: 1.375;
            }
        }
    }
    @include phone {
        padding: 0.625rem;
        td {
            &:first-child {
                @include base_16;
                white-space: normal
            }
            &:last-child {
                @include base_16;
                font-weight: 500;
            }
        }
        .socials {
            justify-content: flex-end
        }
    }
    @media screen and (max-width: 380px) {
        .socials {
            flex-wrap: wrap
        }
    }
}

@import "modules/contacts-section.scss";
@import "modules/footer.scss";