@import "base/_vars.scss";
@import "base/_fonts.scss";
@import "base/_icons.scss";
@import "mixins/breakpoints.scss";
@import "mixins/fonts.scss";
@import "mixins/media.scss";
@import "base.scss";

// components
@import "components/button";
@import "components/popup";
@import "components/form";
@import "components/profile";
@import "components/news";
@import "components/review";

// modules
@import "modules/header.scss";

.header {
    background-color: #F6F6F6;
    @media screen and (max-width: 1080px) {
        &:before, &__menu, &__submenu {
            background-color: #F6F6F6
        }
    }
}

@import "modules/hero-section.scss";
.hero-section {
    @include phone {
        margin-top: -1.25rem;
        &__inner-wrapper {
            padding-top: 1.25rem;
        }
    }
}
@import "modules/in-numbers.scss";
@import "modules/why-section.scss";
@import "modules/services-section.scss";
@import "modules/about-section.scss";
@import "modules/specialist-section.scss";
@import "modules/press-center-section.scss";
@import "modules/reviews-section.scss";
@import "modules/seo-section.scss";
@import "modules/contacts-section.scss";

@import "modules/footer.scss";